
/*SECCION DE ELEMENTOS POR CLASES*/
.botonNavegacion{
    height: 2rem;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(39, 6, 58);
    border-radius: 1rem;
    transition: box-shadow 0.2s ease;
}



/*SECCION DE ELEMENTOS POR ID*/


/*CURSOS.HTML*/
/*ELEMENTOS POR CLASES*/
    .selector{
        background-color: transparent;
        margin-top: 0.7rem;
        height: 2rem;
        width: 7rem;
        border-radius: 20px;
        border: 1px solid #370f5c;
        box-shadow: 0 2px 12px rgba(77, 13, 77, 0.863);
        transition: box-shadow 0.2s ease;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .curso{
        background-color: white;
        border: 1px solid #370f5c;
    }
/*ELEMENTOS POR ID*/
    #cajaDeCursos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 2rem;
        display: grid;
        background-color: transparent;
        border: 2px solid rgba(77, 13, 77, 0.863);;
        width: 96%;
        height: 100%;
    }
    #selectoresCursos{
        width: 96%;
        height: 5rem;
        background-color: transparent;
        border: 1px solid rgb(55, 15, 92);
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #selectorAnio{
        margin-left: 5rem;
    }
    #selectorSemestre{
        margin-right: 5rem;
    }
/*INDEX.HTML*/
#textoIntroductorio{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

#botonCerrarMenuHamburguesa{
    color: white;
    background-color: rgb(148, 14, 14);
    position:relative;
    border-radius: 4rem;
    width: 2rem;
    height: 2rem;
    
}

#imagenPersonal{
    box-shadow: 0 5px 60px rebeccapurple;
    background-color: rgb(146, 140, 140);
    width: 15rem;
    border-radius: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#botonMenuHamburguesaMovil{
    color: white;
    background-color: rgb(78, 41, 99);
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    box-shadow: 0 8px 16px rgba(77, 13, 77, 0.863);
    transition: box-shadow 0.2s ease;
}
#acercaDe{
    box-shadow: 0 0px 30px rgba(226, 117, 117, 0.329);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 1, 17);
    border-radius: 20px;
    height: 35rem;
}

#logoInsta{
    width: 1rem;
    height: 1rem;
}

#logoFacebook{
    width: 1rem;
    height: 1rem;
}

#logoWhatsapp{
    width: 1rem;
    height: 1rem;
}

/*SECCION DE HOVERS*/


/*HOVERS DE CURSOS.HTML*/
.selector:hover{
    box-shadow: 0 3px 30px rgba(204, 86, 204, 0.863);
}


/*HOVERS DE INDEX.HTML*/
#botonMenuHamburguesaMovil:hover{
    color: black;
    background-color: rgb(99, 87, 87);
    box-shadow: 0 8px 16px rgba(204, 86, 204, 0.863);
}

.botonNavegacion:hover{
    box-shadow: 0 3px 30px rgba(204, 86, 204, 0.863);
}

/*MEDIA PARA HACER RESPONSIVE*/
@media (min-width: 768px){
    /*ELEMENTOS CON CLASES*/
    .botonNavegacion{
        width: 25rem;
    }
    /*ELEMENTOS CON ID*/
    #acercaDe{
        display: flex;
        flex-direction: row;
    }
    #botonCerrarMenuHamburguesa{
        display: none;
    }
    #botonMenuHamburguesa{
        display: none;
    }
}
@media (min-width: 1024px){
    /*ELEMENTOS CON CLASES*/
    .circulos{
        box-shadow: 2px 0px 30px rebeccapurple;

    }

    /*ELEMENTOS CON ID*/
    #imagenPersonal{
    box-shadow: 1px 2px 20px rebeccapurple;
}
    #acercaDe{
        display: flex;
        flex-direction: row;
    }
    #circulo1 {
        position: absolute;
        top: 350px;   /* ajusta posición */
        left: 1500px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(2, 42, 49);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    #circulo2 {
        position: absolute;
        top: 350px;   /* ajusta posición */
        left: 700px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(2, 31, 13);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    #circulo3 {
        position: absolute;
        top: 400px;   /* ajusta posición */
        left: 1100px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(37, 37, 1);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    #circulo4 {
        position: absolute;
        top: 80px;   /* ajusta posición */
        left: 900px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(37, 0, 75);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    #circulo5 {
        position: absolute;
        top: 400px;   /* ajusta posición */
        left: 300px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(2, 42, 49);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    
}