
/*SECCION DE ELEMENTOS POR CLASES*/
.botonNavegacion{
    height: 2rem;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(39, 6, 58);
    border-radius: 1rem;
    transition: box-shadow 0.2s ease;
}



/*SECCION DE ELEMENTOS POR ID*/


/*CURSOS.HTML*/
/*ELEMENTOS POR CLASES*/
.labelTitulos {
    font-size: 1rem;
    color: white;
}

.selector {
    text-align: center;
    color:  #7734b6;
    background-color: transparent;
    height: 2rem;
    width: 7rem;
    border-radius: 20px;
    border: 1px solid #370f5c;
    box-shadow: 0 2px 12px rgba(77, 13, 77, 0.863);
    justify-self: center;
}
    .curso{
        margin-top: 5rem;
        height: 3rem;
        border-radius: 10rem;
        display: flex;
        margin-right: 3rem;
        margin-left: 3rem;
        background-color: transparent;
        color:rgb(168, 95, 218);
        justify-content: center;
        align-items: center;
        border: 1px solid #370f5c;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
/*ELEMENTOS POR ID*/
    #cajaDeCursos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 2rem;
        display: grid;
        background-color: transparent;
        border: 2px solid rgba(77, 13, 77, 0.863);;
        width: 96%;
        height: 100%; 
    }
    #selectoresCursos {
        width: 98%;
        height: 9rem;
        background-color: transparent;
        border: 1px solid rgb(55, 15, 92);
        border-radius: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr; /* dos columnas */
        grid-template-rows: auto auto; /* dos filas */
        text-align: center;
    }
/*INDEX.HTML*/
#textoIntroductorio{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

#botonCerrarMenuHamburguesa{
    color: white;
    background-color: rgb(148, 14, 14);
    position:relative;
    border-radius: 4rem;
    width: 2rem;
    height: 2rem;
    
}

#imagenPersonal{
    box-shadow: 0 5px 60px rebeccapurple;
    background-color: rgb(146, 140, 140);
    width: 15rem;
    border-radius: 300px;
}
#botonMenuHamburguesaMovil{
    color: white;
    background-color: rgb(78, 41, 99);
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    box-shadow: 0 8px 16px rgba(77, 13, 77, 0.863);
    transition: box-shadow 0.2s ease;
}
#acercaDe{
    box-shadow: 0 0px 30px rgba(226, 117, 117, 0.329);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 1, 17);
    border-radius: 20px;
    height: 35rem;
}

#logoInsta{
    width: 1rem;
    height: 1rem;
}

#logoFacebook{
    width: 1rem;
    height: 1rem;
}

#logoWhatsapp{
    width: 1rem;
    height: 1rem;
}

#trayectoriaPersonal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    width: auto;
    height: auto;
    gap: 2rem;
    padding: 2rem;

}
#informacionPersonal{
    background-color: #2e2c2c;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;

}
#nombre{
    font-weight: bold;
    color: rgb(170, 168, 168);
    text-shadow: 1px 1px 10px rgb(53, 38, 38);
}
#biografia{
    color: rgb(170, 168, 168);
}
#habilidadesTecnicas{
    gap: 1rem;
    background-color: #2e2c2c;
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
    
}
#certificaciones{
    background-color: #2e2c2c;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 2rem;
}
#redes{
    background-color: #2e2c2c;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    text-align: center;

}
#infoAdicional{
    background-color: #2e2c2c;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 2rem;
}
.elementoBlanco{
    color: white;
}
#descargarPdf{
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    border-radius: 10rem;
    width: 5rem;
    height: 5rem;
    background-color: #180925;
    color: white;
    font-size: 11px;
}
/*SECCION DE HOVERS*/


/*HOVERS DE CURSOS.HTML*/
/* Fondo oscuro */
.modal {
    display: none;
    /* oculto al inicio */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Caja blanca */
.modal-contenido {
    background-color: #111;
    margin: 10% auto;
    padding: 20px;
    border-radius: 1rem;
    width: 80%;
    max-width: 600px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Botón cerrar */
.cerrar {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover {
    color: red;
}

/* Cada trabajo */
.trabajo {
    border: 1px solid #370f5c;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #1a1a1a;
}

.trabajo h4 {
    margin: 0 0 0.5rem 0;
    color: #9f5fff;
}

.curso:hover{
    background-color: #7734b6;
    color: black;
    transform: translate(-5px);
}
.selector:hover{
    box-shadow: 0 3px 30px rgba(204, 86, 204, 0.863);
}


/*HOVERS DE INDEX.HTML*/
#botonMenuHamburguesaMovil:hover{
    color: black;
    background-color: rgb(99, 87, 87);
    box-shadow: 0 8px 16px rgba(204, 86, 204, 0.863);
}

.botonNavegacion:hover{
    box-shadow: 0 3px 30px rgba(204, 86, 204, 0.863);
}

/*MEDIA PARA HACER RESPONSIVE*/
@media (min-width: 768px){
    /*ELEMENTOS CON CLASES*/
    #trayectoriaPersonal{
        padding-top: 6rem;
    }
    #tituloCursos{
        margin-top: 5rem;
    }
    
    .botonNavegacion{
        width: 25rem;
    }
    /*ELEMENTOS CON ID*/
    #acercaDe{
        display: flex;
        flex-direction: row;
    }
    #botonCerrarMenuHamburguesa{
        display: none;
    }
    #botonMenuHamburguesa{
        display: none;
    }
}
@media (min-width: 1024px){
    /*ELEMENTOS CON CLASES*/
    .circulos{
        box-shadow: 2px 0px 30px rebeccapurple;
    }

    /*ELEMENTOS CON ID*/
    #selectoresCursos {
        margin-top: 1rem;
        height: 8rem;
    }
    #cajaCursos{

    }
    #imagenPersonal{
    box-shadow: 1px 2px 20px rebeccapurple;
    }
    #acercaDe{
        display: flex;
        flex-direction: row;
    }
    #circulo1 {
        position: absolute;
        top: 350px;   /* ajusta posición */
        left: 1500px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(2, 42, 49);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    #circulo2 {
        position: absolute;
        top: 350px;   /* ajusta posición */
        left: 700px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(2, 31, 13);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    #circulo3 {
        position: absolute;
        top: 400px;   /* ajusta posición */
        left: 1100px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(37, 37, 1);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    #circulo4 {
        position: absolute;
        top: 80px;   /* ajusta posición */
        left: 900px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(37, 0, 75);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    #circulo5 {
        position: absolute;
        top: 400px;   /* ajusta posición */
        left: 300px;  /* ajusta posición */
        width: 150px;
        height: 150px;
        background-color: transparent;
        border: 5px solid rgb(2, 42, 49);
        border-radius: 50%;
        z-index: 0; /* detrás de los otros */
    }
    
}