
/*SECCION DE ELEMENTOS POR CLASES*/
.botonNavegacion{
    height: 2rem;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(39, 6, 58);
    border-radius: 1rem;
    transition: box-shadow 0.2s ease;
}



/*SECCION DE ELEMENTOS POR ID*/
#textoIntroductorio{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

#botonCerrarMenuHamburguesa{
    color: white;
    background-color: rgb(148, 14, 14);
    position:relative;
    border-radius: 4rem;
    width: 2rem;
    height: 2rem;
    
}

#imagenPersonal{
    box-shadow: 0 5px 60px rebeccapurple;
    background-color: rgb(146, 140, 140);
    width: 15rem;
    border-radius: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#botonMenuHamburguesaMovil{
    color: white;
    background-color: rgb(78, 41, 99);
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    box-shadow: 0 8px 16px rgba(77, 13, 77, 0.863);
    transition: box-shadow 0.2s ease;
}
#acercaDe{
    box-shadow: 0 0px 30px rgba(226, 117, 117, 0.329);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 1, 17);
    border-radius: 20px;
    height: 35rem;
}

#logoInsta{
    width: 1rem;
    height: 1rem;
}

#logoFacebook{
    width: 1rem;
    height: 1rem;
}

#logoWhatsapp{
    width: 1rem;
    height: 1rem;
}

/*SECCION DE HOVERS*/
#botonMenuHamburguesaMovil:hover{
    color: black;
    background-color: rgb(99, 87, 87);
    box-shadow: 0 8px 16px rgba(204, 86, 204, 0.863);
}

.botonNavegacion:hover{
    box-shadow: 0 3px 30px rgba(204, 86, 204, 0.863);
}

/*MEDIA PARA HACER RESPONSIVE*/
@media (min-width: 768px){
    /*ELEMENTOS CON CLASES*/
    .botonNavegacion{
        width: 25rem;
    }
    /*ELEMENTOS CON ID*/
    #acercaDe{
        display: flex;
        flex-direction: row;
    }
    #botonCerrarMenuHamburguesa{
        display: none;
    }
    #botonMenuHamburguesa{
        display: none;
    }
}